# Ігнорувати Terraform-провайдери
.terraform/providers/

# Кеші Python
__pycache__/
*.py[cod]
*.egg-info/
*.dist-info/

# Віртуальне середовище
venv/
.env

# Логи
*.log

# Інші тимчасові файли
.DS_Store
