.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl


# Mac junk
.DS_Store

# Python venv
venv/
*/venv/

# Terraform junk
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform/.DS_Store
