# Terraform local files
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
.terraform/

# Python caches
__pycache__/
*.py[cod]
*.egg-info/
*.dist-info/

# Virtual environments
venv/
.env

# Logs
*.log

# macOS system files
.DS_Store


